/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
  * This injects Tailwind's component classes and any component classes
  * registered by plugins.
  */
@tailwind components;

/**
  * This injects Tailwind's utility classes and any utility classes registered
  * by plugins.
  */
@tailwind utilities;

/**
  * Use this directive to control where Tailwind injects the responsive
  * variations of each utility.
  *
  * If omitted, Tailwind will append these classes to the very end of
  * your stylesheet by default.
  */
@tailwind screens;

@font-face {
  font-family: "Work Sans";
  src: url("../../static/fonts/WorkSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 800;
}

@font-face {
  font-family: "Druk Wide";
  src: url("../../static/fonts/Druk-Wide-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Druk Wide";
  src: url("../../static/fonts/DrukWide-Medium.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
}

.title {
  font-family: "Druk Wide";
  font-weight: bold;
}

.subtitle {
  font-family: "Druk Wide";
  font-weight: normal;
}

.normal {
  font-family: "Work Sans";
}

.bg-primary {
  background-color: #121212;
}

.bg-secondary {
  background-color: #fafafa;
}

.bg-tertiary {
  background-color: #ff0002;
}

.color-primary {
  color: #121212;
}

.color-secondary {
  color: #fafafa;
}

.color-tertiary {
  color: #ff0002;
}

.color-muted {
  color: #8a8a8a;
}
